@model LoginModel
<div class="row">
<form asp-action="Login" asp-controller="Account" method="POST">
<table>
    <tr>
        <td colspan="2">
            @Html.ValidationSummary(true)
        </td>
    </tr>
    <tr>
        <td>Kullanıcı Adı: </td>
        <td>
            <input type="text" asp-for="Username" placeholder="Kullanıcı Adı..."/>
            @Html.ValidationMessageFor(model=>model.Username)
        </td>
    </tr>
    <tr><td>Password: </td>
        <td>
            <input type="password" asp-for="Password" placeholder="Şifre..."/>
            @Html.ValidationMessageFor(model=>model.Password)
        </td></tr>
    <tr>
        <td colspan="2">
            <input type="submit" value="Giriş Yap" />
        </td>
    </tr>
</table>
</form>
</div>